* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


@font-face{
    font-family: 'Bendons-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BentonSans-Regular.otf') format('opentype');
}

@font-face{
    font-family: 'Bendons-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BentonSans-Light.otf') format('opentype');
}
@font-face{
    font-family: 'Bendons-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BentonSans-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Bentons-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BentonSans-Bold.otf') format('opentype');
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family: 'Bendons-Regular';
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    text-decoration: none;
    text-shadow:none;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

a {
    text-shadow:none;
    text-decoration: none;
}
input[type=number]{
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

input{
    font-family: "Bendons-Medium";
}
.regular-font {
    font-family: "Bendons-Regular";
}
.light-font{
    font-family: "Bendons-Light";
}
.md-font {
    font-family: "Bendons-Medium";
}
.bold-font {
    font-family: "Bendons-Bold";
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* ui-header ui-content ui-footer */
.ui-header {
    height: 50px;
    background-color: #8FCDBE !important;
}

.ui-header .ui-title {
    line-height: 50px;
    font-size: 22px;
    font-family: "Bendons-Medium";
    overflow: show;
    text-align: left;
    margin-left: 15%;
    padding: 0;
    text-shadow:none;
    text-transform: uppercase;
    color: #FFF;
}

.ui-header a{
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    color: #FFF;
}

.ui-header .ui-btn-left, .ui-header .ui-btn-right{
    height: 44px;
    line-height: 44px;
    min-width: 44px;
    top: 0;
    padding: 0;
    text-shadow:none;
    color:#FFF;
}

.ui-header .ui-btn-left{
    margin-left: 10px;
}
.ui-header .ui-btn-right{
    margin-right: 10px;
}
/* div includes multiply icons*/
.ui-header .multi-icons{
    margin-right: 0px;
}

.ui-header .multi-icons a{
    min-width: 44px;
    height: 44px;
    float: right;
    margin-right: 5px;
}
.ui-header, .ui-footer {
    border: none;
}
.ui-content {
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #F2F2F2; 
    color: #495559;  
}

/*login page css*/
.form-group {
    margin: 20px 0px;
}

#login_page {
    height: 100%;
}

#login_page .ui-header{
    background-color: rgba(166, 181, 184,1) !important;
}

#login_page .ui-content{
    background-color:  rgba(166, 181, 184,1) !important;
}
/*#login_page .login_header {
    height: 20%;
}*/

#login_content, #signup_content{
    height: 100%;
    max-width:  1080px;

}

#login_content .login_header{
    height: 25%;
    padding-top:10%;
    margin-bottom: 15%;
}
#login_content .login_header img{
    width: 60%;
}
.below_content {
    margin-top: 4em;
}
.below_content .row{
    margin-top: 20px; 
}

.below_content .lg_text_left{
    float: left;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    padding-right: 5px;
}

.below_content .sm_text_left{
    float: left;
    text-align: left;
   
}

.below_content .sm_text_right{
    float: right;
    text-align: left;
    padding-right: 10px;
    
}
.below_content .lg_text_right{
    float: right;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    padding-right: 5px;
}

.below_content div i{
    line-height: 60px;
    font-size: 24px;
}
#login_form .ui-input-text{
    background-color: rgba(211, 218, 220, 1);
    border: none;
    text-shadow: none;
    box-shadow: none;
}
#login_form .ui-input-text input {
    color: #FFF;
}
#login_form .ui-input-text input::-moz-placeholder{
    color: #FFF;
} 
#login_form .ui-input-text input:-webkit-placeholder{
    color: #FFF;
}
.has-feedback .form-control {
    padding-right:  0;
    padding-left: 56px;
    height: 56px;
    line-height: 56px;
}

.form-control[readonly]{
    background: none;
}

.form-control-feedback {
    left: 0px;
    top: 0px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    font-size: 24px;
    text-shadow:none;
    color: rgba(44, 118, 108, 1);
}

#login_page .ui-link{
    color:#FFF;
    text-decoration: none;
}

#login_submit{
    background-color: rgba(154, 175, 176, 1);
    color: rgba(44, 118, 108, 1) !important;
    font-family: "Bendons-Medium";
    line-height: 58px;
    font-size: 1.5em;
    padding: 0;
}


/*sign up form*/
#signup_form .ui-input-text {
    border: none;
    border-bottom:  1px solid #FFF;
    border-radius: 0px;
    background: transparent;
    box-shadow:none;
    text-shadow:none;
    color: #FFF;
}


#signup_form .ui-input-text input{
    text-align: center;
    border: none;
    box-shadow: none;
} 

#signup_form .ui-input-text input::-moz-placeholder{
    color: #FFF;
}
#signup_form .ui-input-text input:webkit-placeholder{
    color: #fff;
}

#signup_submit{
    background-color: rgba(189, 201, 205, 1);
    color: rgba(44, 118, 108, 1) !important;
    font-family: "Bendons-Medium";
    line-height: 58px;
    font-size: 1.5em;
    padding: 0;
}

/*triage page */
#triage_page {
    height: 100%;
    overflow-y:hidden;
}
#triage_info  {
    height: 15vh;
    background: #FFF;
}

#triage_info div img{
    margin: 0 auto;
}

#triage_slide {
    height: 82vh;
    overflow-y: auto;
}

#triage_form {
    height: 100%;
}

.carousel-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.carousel_controls{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    font-weight: bold;
    text-shadow: none !important;
    text-transform: uppercase;
}

.carousel_controls div{
    height: 100%;
    width: 50%;
    float: left;   
}

.carousel_controls .back_btn .carousel-control, .continue_btn .carousel-control{
    width: 50%;
    background-color: #495559;
    color: #FFFFFF;
    line-height: 60px;


}
.carousel_controls .add_note{

    left: auto;
}
.carousel_controls .back_btn a{
    border-right: 1px solid #FFFFFF;
}
.carousel_controls .continue_btn a{
    border-left: 1px solid #FFFFFF;
}



.ui-listview {
    margin:0;
}

.ui-listview li{
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none;
    box-shadow: none;
    background-color: transparent !important;
    background: transparent;
}
.ui-listview > .ui-li-static {
    border: none;
}

#symptom_list li div i{
    line-height: 55px;
    color: #BBC4C7;
}

#symptom_list li .ui-input-text input:webkit-placeholder{
    color: #BBC4C7;
}
#symptom_list li .ui-input-text input::moz-placeholder{
    color: #BBC4C7;
}
/*time line*/

.timeline{
    position: relative;
    margin:0 auto;
    padding: 1em 0;
    list-style-type: none;
}

.timeline li:after {
    position: absolute;
    left: 50%;
    content: ' ';
    display: block;
    width: 2px;
    height: 20%;
    background: #333;
    background: -moz-linear-gradient(top, rgba(132, 151, 157, 0.8) 0%, rgba(132, 151, 157, 0.8) 8%, rgba(132, 151, 157, 0.8) 92%, rgba(132, 151, 157, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132, 151, 157, 0.8)), color-stop(100%,rgba(132, 151, 157, 0.8)));
    background: -webkit-linear-gradient(top,rgba(132, 151, 157, 0.8) 0%, rgba(132, 151, 157, 0.8) 8%,rgba(132, 151, 157, 0.8) 92%, rgba(132, 151, 157, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(132, 151, 157, 0.8) 0%, rgba(132, 151, 157, 0.8) 8%, rgba(132, 151, 157, 0.8) 92%, rgba(132, 151, 157, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(132, 151, 157, 0.8) 0%, rgba(132, 151, 157, 0.8) 8%, rgba(132, 151, 157, 0.8) 92%, rgba(132, 151, 157, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(132, 151, 157, 0.8) 0%, rgba(132, 151, 157, 0.8) 8%, rgba(132, 151, 157, 0.8) 92%, rgba(132, 151, 157, 0.8) 100%);
}


.timeline li{
    padding: 3em 0;
}

/*.timeline li:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}*/

.timeline .date{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px 0px;
    line-height: 18px;
}

.timeline .arrow {
    text-align: right;
}

.timeline .arrow:before{
    position: absolute;
    top: 0px;
    left: -50%;
    content: " ";
    display: block;
    width: 36px;    
    height: 36px;
    margin-left: -17px;
    background: rgba(132, 151, 157, 0.8);
    border-radius: 18px;
    border: 12px solid rgba(187, 196, 199, 0.9);
    z-index: 5;
}

.timeline .arrow i{
    line-height: 18px;
    margin-top: 10px;
    color: rgba(187, 196, 199, 1);
}

.timeline .arrow .fa-angle-right{
    margin-right: 80px;
}
/*.timeline .arrow:after{
    content: "";
    position: absolute;
    left: -50%;
    top: 18px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}*/

.timeline .name:before{
    position: absolute;
    top: 50%;
    left: -50%;
    content: ' ';
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -14px;
    background: #fff;
    border-radius: 15px;
    border: 5px solid rgb(255,80,80);
    z-index: 10;
}


/*.timeline .name:after{
    content: "";
    position: absolute;
    left: -50%;
    top: 18px;
    height: 0;
    width: 0;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}*/

/*symptom choose list */
.symptom_chooselist .ui-checkbox{
    padding:    1em 0;
}
/*checkbox and radio button */
.ui-checkbox, .ui-radio{
    margin: 1vh 0;
}
.ui-checkbox label, .ui-radio label{
    border: none;
    background-color: transparent !important;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.ui-checkbox input, .ui-radio input{
    display: none;
}

.ui-checkbox label, .ui-radio label {
    font-size: 1.2em;
}

.ui-checkbox-on::after{
    content: "\221A";
    display: block;
    color:#FFF;
    width: 1.2em !important;
    height: 1.2em !important;
    margin: -0.5em 2px 0px !important;
    background-color: rgba(34, 136, 150, 0.9) !important;
    padding-left: 2px;
    border: 2px solid rgba(34, 136, 150, 0.9) !important;
}

.ui-checkbox-off::after{
    background-color: transparent !important;
    border: 2px solid #333;
    width: 1.2em !important;
    height: 1.2em !important;
}

.ui-radio-off::after{
    background-color: #fff !important;
    border: 3px solid #333; 
    width: 24px !important;
    height: 24px !important;
    border-radius: 12px !important;
    margin: -0.6em 5px 0 !important; 
}

.ui-radio-on::after {
    content: "\2022";
    font-family: sans-serif;
    display: block;
    width: 24px !important;
    height: 24px !important;
    border-radius: 12px !important;
    line-height: 18px;
    margin: -0.6em 5px 0 !important; 
    color: rgba(34, 136, 150, 0.9);
    background-color: #FFF !important;
    padding-left: 1px; 
    border:4px solid rgba(34, 136, 150, 0.9) !important;
    font-size: 1em; 

}
.grade_slider_group {
    padding-bottom: 30px;
}

.grade_slider_group input.ui-slider-input {
    position: absolute;
    text-align: left;
    float: right;
    right: 15px;
    top: 60px;
    font-size: 1.2em;
    line-height: 1.5em;
    height: 1.5em;
    border: none;
    box-shadow: none;
    background: transparent;
    background-color: transparent !important;

}

.grade_slider_group .ui-slider-track {
    margin: 20px 80px 0px 15px;
    box-shadow: none;
    height: 8px;
    background-color: #A0B2B7;
}

.grade_slider_group .nci_percent {
    float: right;
    right: 0px;
    margin-top: -22px;
    opacity: 0.8;
}
.ui-slider-track .ui-btn-active{
    background: rgba(34, 136, 150, 0.9) !important;
}

.grade_slider_group .ui-slider-track .ui-btn-active.green{
    background: rgba(34, 136, 150, 0.9) !important;
}
.grade_slider_group .ui-slider-track .ui-btn-active.orange{
    background: rgba(245, 174, 48, 0.9) !important;
}
.grade_slider_group .ui-slider-track .ui-btn-active.red {
    background: rgba(228, 84, 82, 0.9) !important;
}

.ui-slider-track .ui-btn.ui-slider-handle{
    width: 36px; 
    height: 36px;
    border-radius: 18px !important;
    background-color: #A0B2B7 !important;
    margin: -18px 0px 0px -18px;
    border: 12px solid rgba(242,242,242, 0.6) !important;
}

/*.grade_slider_group .ui-slider-track .ui-btn.ui-slider-handle.green{    
    background: rgba(34, 136, 150, 0.9) !important;
}
.grade_slider_group .ui-slider-track .ui-btn.ui-slider-handle.orange{
    background: rgba(245, 174, 48, 0.9) !important;
}
.grade_slider_group .ui-slider-track .ui-btn.ui-slider-handle.red{
    background: rgba(228, 84, 82, 0.9) !important;
}

*/

.slider_group {
    height: 2.4em;
    line-height: 2.2em;
    margin-top: 30px;
}

.slider_group div{
    padding: 0;
}

.slider_group .ui-slider-track {
    border-radius: 1em;
    margin:0;
    float: right;
    right: 10px;
}
.slider_group .ui-slider-track:after{
    clear: both;
}

#triage_form .ui-input-text {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #BBC4C7;
    border-radius: 0;
}

#symptom_list li .ui-input-text input::-moz-placeholder {
    color: #BBC4C7;
}
#symptom_list  li.ui-input-text input:-webkit-placeholder{
    color: #BBC4C7;
}


/* main page */
.row
{
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 0px;
}

.main_content
{
    height:100%;
    padding: 10px 0;
    font-family: "Bendons-Medium";
}

.main_content .container a:first-child{
    color:  #035b67;
}
.main_content .container a:nth-child(2){
    color: #A21814;
}
.main_content .container a:nth-child(3){
    color: #3A8F7A;
}
.main_content .container a:nth-child(4){
    color: #A76A00;
}
.main_content .container a:nth-child(5){
    color: #B08A00
}
.main_content .container a:last-child{
    color: #6d810c
}



.main_content .list_item{
    height: 14vh;
    margin: 1vh 0;
    padding: 0;
    border: none;
    background-color: #FFFFFF;

}

/*set the child div of list_item verticle middle*/
.vertical-middle{
    position: relative;
    top: 50%;
     transform: translateY(-50%);
}

.main_content .list_item p{
    padding: 0;
    margin: 0;
}
/* main page end */

/* checklist page */
#checklist_page {
    height: 100%;
    overflow-y:hidden;
}

#checklist_slide {
    height: 95vh;
    overflow-y: auto;
}
/* checklist page end */

/*event schedule page*/
.switch_btn {
    width: 100%;
    height: 4vh;
    margin: 0.5vh 0;
}
.switch_btn a{
    width: 50%;
    float: left;
    height: 100%;
    border: none;
    margin: 0;
}

.clinic_content, .individual_content {
    height: 95vh;
    overflow: auto;
}


#patient_list{
    padding: 15px 0px;
    overflow-y:auto;
}
#patient_list .patient{
    height: 120px;
    background-color: #fff;
    margin:15px 0;
}

#patient_list .patient a{
    border:none;
}
#patient_list .patient *{
    background-color: #FFF;
    line-height: 1em;
    font-size: 1em;
}

.patient .patient_info p{
    margin: 0 0 10px 0;
}


@media screen and (max-height: 960px){
    .lg-size{
        font-size: 1.5em;
    }
    .md-size {
        font-size: 1.2em;
    }
    .sm-size {
        font-size: 0.8em;
    }

}



/*font color on datepicker*/
.dwb0, .dwb1{
    color: #FFF !important;
}

/*switch toggle button */
.switch_group {
  position: relative;
  margin: 30px auto;
  padding: 10px 10px;
  background:#fff;
  width: 95%;
  max-width: 580px;
  border-radius: 10px;
}

.switch {
  position: relative;
  border: 0;
  padding: 0;
  width: 100%;  
  font-family: helvetica;
  font-weight: bold;
  font-size: 22px; 
}
.switch .ui-radio {margin:0;}
.switch .ui-radio-on:after {position: absolute; opacity:0;}
.switch .ui-radio-off:after{position: absolute; opacity:0;}
.switch .ui-radio label {
  position: relative;
  z-index: 2;
  float:left;
  width:50%;
  padding: 5px 0px 5px 0px;
  text-align: center;
  transition: color 0s ease .1s;
}

.switch .ui-radio label[class*="ui-radio-on"] {
  color: #fff;
}
.switch .ui-radio label[class*="ui-radio-off"] {
    color: #524f52;
}

.switch .ui-radio input:focus + label {outline: none;}

.switch .switch-button {
  clear: both;
  position: absolute;
  top: 0px;
  left: 0%;
  z-index: 1;
  width:50%;
  height: 100%;
  background-color: #228896;
  border-radius:10px;
  transition: all .2s ease-out;
}
.switch-button.toggle{
    left: 50%;
}
/*.switch.ui-radio:last-child label[class*="ui-radio-on"] ~.switch-button {left: 50%;}*/


/*search input*/
/*.ui-input-search input{
    padding-left: 0;
    padding-right: 1.75em;
}

.ui-input-search::after{
    right: 0.3215em;
    
    background-image: url("../icon/icon-search-g.png");
    background-position: center center;
    background-size: cover;
}*/
/*icons setting*/

.icon{
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 2px;
    background-position: center center;
    background-size: cover;
}
.icon-arrow-left{
    background-image: url("../icon/icon-arrow-left.png");
}
.icon-add-patient{
    background-image: url("../icon/icon-add-patient.png");
}
.icon-bars{
    background-image: url("../icon/icon-bars-w.png");
}
.icon-dots{
    background-image: url("../icon/icon-dots-w.png");
}